.main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 140px;
  margin-bottom: 100px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}

.checkout-grid {
  display: grid;
  /* Here, 1fr means the first column will take
     up the remaining space in the grid. */
  grid-template-columns: 1fr 350px;
  column-gap: 12px;

  /* Use align-items: start; to prevent the elements
     in the grid from stretching vertically. */
  align-items: start;
}

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }
}
/*Form styling I did this before finding out it was actually an api to the real paypal so I didnt have to do all this ! :( */

#credit-info .full-width{
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 5px;
  height: 48px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin: 10px 0;
}
#credit-info .full-width-input{

  box-sizing: border-box;
  font-size: 16px;
  outline: 0px;
  width: 100%;
  border-style: none;
  height: 46px;
  padding: 16px 15px 0px;
}
#credit-info .full-width:active{
  border: 2px solid hsl(221, 100%, 32%);
}

#credit-info .half-width-container {
  display: flex; 
  justify-content: space-between; 
}

#credit-info .half-width {
  flex: 0 0 calc(50% - 5px); /* Adjust spacing */
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 5px;
  height: 48px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#credit-info .half-width-input {
  border-color: rgb(210, 0, 0);
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  width: 100%;
  border-style: none;
  height: 46px;
  padding: 16px 15px 0px;
}

/*Form styling I did this before finding out it was actually an api to the real paypal so I didnt have to do all this ! :( */




/* HERE*/
.paypal-option{
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
}
.paypal-option p{
  
  display: inline;
  color: black;
  font-weight: lighter;
}

.paypal-checkbox {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
.payment-options{ 
  display: none;
}
.payment-options .paypal-order-button{
  height: 45px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 11px;
  margin-bottom: 15px;
  background-color: #ffc439;
}
.payment-options .credit-order-button{
  border:none;
  height: 45px;
  vertical-align: middle;
  font-size: 1.04em ;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 11px;
  margin-bottom: 15px;
  background-color: hsl(200, 3%, 18%);
  color: hsl(0, 0%, 90%);

}

.payment-options .credit-order-button:hover{
  background-color: hsl(0, 0%, 23%);
  color: hsl(0, 0%, 100%);
}

.payment-options .paypal-order-button:hover{
  background-color: hsl(49, 100%, 50%);
  border: 1px solid rgb(242, 194, 0);
}
.payment-options img{
  height: 100%;

}
.powered-by{
  text-align: center;
  margin: 10px 0 5px 0;
}
.payment-options  .powered-by p{
  font-style: italic;
  font-size: small;
  display: inline;
  color: grey;
  align-items: center;
  padding: 0 5px 0 0;
}
.payment-options .powered-by-paypal{
  width: 60px;
  vertical-align: middle;
}


.js-cart-empty{
  display: none;
}
.js-cart-empty a{
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: rgb(255, 216, 20);
  color: rgb(33, 33, 33);
  box-shadow: 0px 0px 5px rgba(213, 217, 217, 0.5);
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px 0 0 0;
}
.js-cart-empty p {
  font-size: 1.2em;
  padding: 0 0 30px 0;
}
.alt-quantity, .save-quantity-link{
  width: 30px;
  display: none;
}
.js-update-button{
  display: inline;
}
.js-quantity-span{
  display: inline;
}

.cart-item-container,
.payment-summary {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.cart-item-container {
  margin-bottom: 12px;
}

.payment-summary {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .payment-summary {
    /* grid-row: 1 means this element will be placed into row
      1 in the grid. (Normally, the row that an element is
      placed in is determined by the order of the elements in
      the HTML. grid-row overrides this default ordering). */
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.delivery-date {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.cart-item-details-grid {
  display: grid;
  /* 100px 1fr 1fr; means the 2nd and 3rd column will
     take up half the remaining space in the grid
     (they will divide up the remaining space evenly). */
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.product-image {
  max-width: 100%;
  max-height: 120px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.product-price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 5px;
}

.product-quantity .link-primary {
  margin-left: 3px;
}

@media (max-width: 1000px) {
  .delivery-options {
    /* grid-column: 1 means this element will be placed
       in column 1 in the grid. (Normally, the column that
       an element is placed in is determined by the order
       of the elements in the HTML. grid-column overrides
       this default ordering).
       
       / span 2 means this element will take up 2 columns
       in the grid (Normally, each element takes up 1
       column in the grid). */
    grid-column: 1 / span 2;
  }
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.payment-summary-row {
  display: grid;
  /* 1fr auto; means the width of the 2nd column will be
     determined by the elements inside the column (auto).
     The 1st column will take up the remaining space. */
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.place-order-button {
  height: 45px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  display: inline;
  margin-top: 11px;
  margin-bottom: 15px;
}
.place-order-button:disabled{
  cursor: default;
  background-color: hsl(50, 100%, 70%);
  color: grey;
  border: none;
  box-shadow: none;
}
.place-order-link{
  text-decoration: none;
}